@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image Grid</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>

<body>
    <div class="grid-container">
        <!-- First row -->
        <div class="row first-row">
            <div class="image-large">
               
                <img src="~/Resources/images/FlyerBanner.jpg" alt="FlyerBanner">
            </div>
            <div class="image-large hide-image">
               
                <img src="~/Resources/images/Menu.jpg" alt="Menu">
            </div>
        </div>
        <!-- Second row -->
        <div class="row second-row">
            <div class="image-double">
                <img src="/Resources/images/Meat.jpg" alt="Meat">
            </div>
            <div class="image-single">
                <img src="/Resources/images/Raspberries.jpg" alt="Raspberries">
            </div>
            <div class="image-single">
                <img src="/Resources/images/Points.jpg" alt="Points">
            </div>
        </div>
        <!-- Third row -->
        <div class="row third-row">
            <img src="~/Resources/images/Bacon.jpg" alt="Bacon">
            <img src="~/Resources/images/Cerial.jpg" alt="Cerial">
            <img src="~/Resources/images/Raspberries.jpg" alt="Raspberries">
            <img src="~/Resources/images/Raspberries.jpg" alt="Raspberries">
        </div>
    </div>
</body>
</html>



